//
// SASS variables, mixins and placeholders
//

// Variables

$gutter: .9rem;
$darkGrey: #333333;
$selection: yellow;

$colours: (
  darkgrey: rgba(51, 51, 51, 1),
  lightgrey: rgba(191, 191, 191, 1),
  navy: rgba(60, 64, 96, 1),
  yellow: rgba(251, 235, 135, 1),
  red: rgba(209, 92, 52, 1)
);

$measurements: (
  siteWidth: 1100px,
  siteGutter: .9rem,
  contentWidth: 720px
);

$breakpoints: (
  smallBreakpoint: 600px,
  mediumBreakpoint: 800px,
  largeBreakpoint: 1000px,
  superBreakpoint: 1200px
);

// Mixins

@mixin mobileOnwards {
  @media (min-width: map-get($breakpoints, smallBreakpoint)) {
    @content;
  }
}
@mixin tabletOnwards {
  @media (min-width: map-get($breakpoints, mediumBreakpoint)) {
    @content;
  }
}
@mixin desktopOnwards {
  @media (min-width: map-get($breakpoints, largeBreakpoint)) {
    @content;
  }
}
@mixin desktopHdOnwards {
  @media (min-width: map-get($breakpoints, superBreakpoint)) {
    @content;
  }
}

// Placeholders
