//
// Global (site wide) styles
//

@import "reset";
@import "sass";
@import "typography";

::selection {
  background-color: map-get($colours, yellow);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Barlow Semi Condensed', 'system-ui', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: map-get($colours, darkgrey);
}

body {
  max-width: map-get($measurements, siteWidth);
  margin: 0 auto;
  font-size: 75%;
  line-height: 1.45;

  @include mobileOnwards {
    font-size: 90%;
  }
  @include tabletOnwards {
    font-size: 100%;
  }
}

div.wrapper {
  max-width: map-get($measurements, contentWidth);
}

//
// Header
//

header {
  padding: map-get($measurements, siteGutter);

  // Heading
  h1 {
    font-weight: normal;
    font-size: 2.375em;
    line-height: 1.2;
  }

  span.secondary-line {
    color: map-get($colours, lightgrey);
    display: block;

    @include mobileOnwards {
      display: inline-block;
    }
  }
}

//
// Main
//

main {
  padding: map-get($measurements, siteGutter) map-get($measurements, siteGutter) 5rem;

  h2 {
    font-weight: normal;
    font-size: 2.1875em;
    line-height: 1.2;
    color: black;
    margin: 18.75rem 0 2rem;
    max-width: 660px;
  }

  p {
    font-size: 1.875em;
    line-height: 1.2;
    margin: .5rem 0 .8rem;
  }

  a {
    &:link {
      text-decoration: none;
      color: map-get($colours, red);
    }
    &:visited {
      color: map-get($colours, red);
    }
    &:hover {
      text-decoration: underline;
    }
    &:active {}
  }

  ul {
    list-style-type: none;
    padding-bottom: .15rem;

    li {
      font-size: 1.375em;
      line-height: 1.2;
      margin: .5rem 0 .8rem;
      text-indent: map-get($measurements, siteGutter);
    }
  }

}

//
// Footer
//

footer {
  padding: map-get($measurements, siteGutter);
  border-bottom: 5px solid map-get($colours, navy);
  font-size: 14px;

  @include mobileOnwards {
    font-size: 16px;
  }

  span.footnote {
    color: map-get($colours, lightgrey);
  }

  // Emoji hover animation
  @keyframes emoji-bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  a {
    &:link {
      text-decoration: none;
    }
    &:visited {}
    &:hover {
      img.emoji {
        animation: emoji-bounce 1s infinite;
      }
    }
    &:active {}
  }
}
