//
// Styles
//

// Variables

$gutter: .9rem;
$darkGrey: #333333;

// Webfont

@font-face {
  font-family: 'hk_groteskmedium';
  src: url('/assets/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
       url('/assets/fonts/hkgrotesk-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Globals

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'hk_groteskmedium', "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: $darkGrey;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: $gutter;

  // Heading
  h1 {
    font-weight: normal;
    font-size: 38px;
  }

  span.secondary-line {
    color: #999999;
  }
}

main {
  padding: $gutter $gutter 3rem;

  // Headings
  h2 {
    font-weight: normal;
    font-size: 35px;
    color: black;
    margin-top: 300px;
    max-width: 692px;
  }

  // Paragraphs
  p {
    font-size: 30px;
    line-height: 1.2;
    margin: .5rem 0 .8rem;
  }

  em,
  i {}

  strong,
  b {}

  span.most-recent {}

  // Links
  a {
    &:link {
      text-decoration: none;
    }
    &:visited {}
    &:hover {}
    &:active {}
  }

  // Lists
  ul {
    li {}
  }

}

footer {
  padding: $gutter;
  border-bottom: 20px solid black;

  span.footnote {
    font-size: 22px;
  }

  // Emoji hover animation
  @keyframes emoji-bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-.4rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  // Links
  a {
    &:link {
      text-decoration: none;
    }
    &:visited {}
    &:hover {
      img.emoji {
        animation: emoji-bounce 1s infinite;
      }
    }
    &:active {}
  }
}

// Wrapper
.content-wrapper {
  max-width: 692px;
  margin-left: 100px;
}
