<!doctype html>
<html lang="en-GB">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% endif %}">
    <link rel="canonical" href="{{ page.url | prepend: site.url }}">

    <!-- Disable iOS auto-formatting numbers -->
    <meta name="format-detection" content="telephone=no">

    <!-- Favicons, icons and themes -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#d15c34">
    <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#d15c34">

    <!-- Google site ownership -->
    <meta name="google-site-verification" content="h1lC2vfn1jAEgEmARc6j_WmFeIrFoxogVw-UGcbLcbE" />

    <!-- Social -->
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% endif %}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ page.url | prepend: site.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% endif %}">

    <!-- Preload webfonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,300i" rel="stylesheet">

    <!-- Critical CSS -->
    <style>
      {% include critical-home.css %}
    </style>

  </head>

  <body>

    <div class="wrapper">

      <header>
        <h1>Chris Porter <span class="secondary-line">Graphic Designer</span></h1>
      </header>

      <main>
        <h2>Brighton based graphic designer, currently working at <a href="https://05creative.com/" title="Check out our website">05creative*</a>. Helping people find meaningful, creative solutions to their unique challenges.</h2>
        {% comment %} Output content from child templates {% endcomment %}
        {{ content }}
      </main>

      <footer>
        <p>That&#39;s all for now. <a href="#">Jump back to the top? :point_up:</a></p>
        <p><span class="footnote">&#169; 2018 &#124; Website set in <a href="https://github.com/jpt/barlow">&lsquo;Barlow Semi Condensed&rsquo; by Jeremy Tribby</a></span></p>
      </footer>

    </div>

    <!-- Load remaining CSS styles -->
    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="/css/chris-porter.css"/>
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>

  </body>

</html>
